@import '../../App.scss';

.header {
  background: #9218B4;
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {
    text-align: center;
    font-family: 'Nunito', Georgia, sans-serif;
    color: white;
  }

  nav {
    display: flex;
    justify-content: center;
    a {
      color: yellow;
      margin-left: 10px;
      font-family: $primary-font;
      text-decoration: none;
    }
  }
}
