@import '../../App.scss';

.listWrapper {
  padding: 0 50px;
}

.lista {
  margin-bottom: 15px;
  background: #AE1CA1;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  div {
    span {
      font-family: $primary-font;
      font-size: 1.2em;
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      color: white;
    }
    ul {
      li {
        font-family: $primary-font;
        font-size: 1.1em;
        list-style: none;
        color: #dddddd;
      }
    }
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
}